span{
    font-family: Calisto MT; 
    font-style:oblique;
    font-size:66px;
    color:#BC9F3D;
  
}
h2{
    font-family: Calisto MT; 
    font-style:oblique;
    font-size: 36px;
    color: #707070;
    opacity:60%;
}

.about__img{
    width: 400px;
    height: 400px;
}
button{
    background-color: #BC9F3D;
    color:white;
    size:100px
}
p{
    font-family: Calisto MT;
    color: #707070;
    font-size:20px;
}