<div class="container home__container">
<div class="row">

<div class="col-md-6">
    <section class="about section bd-container" id="about">
        <div class="about__container  bd-grid">
           
            <div class="about__data">
                <span class="section-subtitle about__initial">About us</span>
                <h2 class="section-title about__initial">We cook the best tasty food</h2>
                <p class="about__description">We cook the best food in the entire city, with excellent <br>customer service,the best meals and at the best price, visit us.</p>
                <button type="button" class="btn">Explore history </button>
            </div>

            </div>
    </section>
</div>
<div class="col-md-6">
    <img [src]="about" alt="" class="about__img">
</div>
</div>

</div>