img{
    margin-left: 43%;
     margin-right: 30%;
  }
 .card-title{
     color: ;
     text-align:center;
     font-family: Calisto MT; 
     font-style:oblique;
     font-size: 36px;
 }
 .card-text{
     font-size: 16px;
     font-family: Calisto MT; 
 }
 #p1{
     font-family: Calisto MT; 
     font-style:oblique;
     font-size: 36px;
     text-align:center;
     color:#BC9F3D;
     
   
 }
 .card{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FB;
    border-radius: .3rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
   }
 #p2{
     font-family: Calisto MT; 
     font-style:oblique;
     font-size: 26px;
     text-align:center;
     color: #707070;;
   
 }

