<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
              <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="./app-home"><img [src]="image"></a>
                  </li>
                </ul>
        </div>
              <div class="col-md-8">
              <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="./app-home">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./app-about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="./app-services">Sevices</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link disabled" href="./app-consult-plat">consult Dishes</a>
                    </li>
                
                <li class="nav-item">
                  <a class="nav-link disabled" href="./app-contact-us">Contact US</a>
                </li>
              </ul></div>
              <div class="col-md-2">
                <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="./app-confirmer-panier"><img [src]="panier" id="i1"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="./app-home"><img [src]="moon" id="i2"></a>
                </li>
              </ul>
            </div>
  </div>
  </div>
  