<section class=" section editdish" id="edit">
    <div class="container edit  ">
     
            <form >
                        <h2 class="section-title ">Edit Dish</h2> 
                        <div class="row bd-grid">
                            <input class="form-control   search" type="search" placeholder="Search" aria-label="Search">
                                <br>
                        </div>
                           
                            
                        <div class="  row ">

                            <div class="col-xl-6 col-md-6">
                                <input type="file">
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div>
                                    <label for="name_dish">Dish Name</label><br>
                                  <input type="text" id="name_dish" >
                                </div>
                                <div>
                                    <label for="prix_plat">Dish Prise</label><br>
                                    <input type="text"  id="prix_plat"> 
                                </div>
                                <div>
                                    <label for="des_plat">Dish description</label><br>
                                    <textarea name="" id="des_plat" cols="30" rows="2" ></textarea>

                                </div>
                                
                               
                               
                            </div>   
                            
                            <div class="row">
                                <div class=" col-md-3 ">
                                    <button type="button" class="btn">Edit </button>
                            
                                </div>
                            
                            </div>    
                      
                            </div>
                        </form>
    </div>
    
    
    </section>
    
