<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p id="p1">Let's talk</p><br>
            <p id="p2">Contact us</p>
            <p id="p3">if you want any information about our restaurant , contact us and we will attend you quickly, with our 24/7 chat service .</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <h2 id="h2">Delicious food<br>
                &nbsp;&nbsp; restaurant</h2>
                <img [src]="fcb" class="img_f">
                 <img [src]="twit" class="img_t" >
                  <img [src]="insta" class="img_i">
        </div>
        <div class="col-md-6" >
        <p id="h3">
            Adress :<br>
            Lac de Tunis, Tunis <br>
            888-555-666<br>
            Deliciousfood@gmail.com
 
        </p>
    </div>
    </div>
</div>