
<section class=" section romovedish" id="romove">
    <div class="container Romove  ">
     
            <form >
                        <h2 class="section-title ">Romove Dish</h2> 
                        <div class="row bd-grid">
                          <input class="form-control   search" type="search" placeholder="Search" aria-label="Search">
                              <br>
                      </div>
                            
                            <div class="row">
                                <div class=" col-md-3 ">
                                    <button type="button" class="btn">Romove </button>
                            
                                </div>
                            
                            </div>    
                      
                          
                        </form>
    </div>
    
    
    </section>
    
  
  