#p1{
    font-family: Calisto MT; 
    font-style:oblique;
    font-size:76px;
    color:#BC9F3D;
   
}
#p2{
    font-family: Calisto MT; 
    font-style:oblique;
    font-size: 66px;
    color: #707070;

    
  
}
p {
    animation-duration: 3s;
    animation-name: slidein;
  }

  
  @keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin-bottom: 0%;
      width: 90%;
    }
  }
button{
    background-color: #BC9F3D;
    color:white;
    size:100px;
   
    
}
#img1{
        width: 470px;
        height: 470px;
        animation-duration: 3s;
        animation-name: slidein;
    
}
@media (min-width: 576px) { 
     
   }

  
  @media (min-width: 768px) { 
    
    
 }

    @media (min-width: 992px) { 
     
   }
  

  @media (min-width: 1200px) { 
     
   }