<section>
    <div class="container">
        <div>
            <h2 class="section-title ">Menu</h2>
            <br>
            <br>
            <div class=" row">
                <div class="col-xl-4 col-md-4">
                    <button type="button" ><a href="#salade">Salade</a></button> 
                </div>
                <div class="col-xl-4 col-md-4">
                    <button type="button" ><a href="#dish">Dish</a></button> 
                </div>

                <div class="col-xl-4 col-md-4">
                    <button type="button" ><a href="#dessert">Dessert</a></button> 
                </div>
    
            </div>
        </div>
        <div class="row bd-grid">
            <br>
            <input class="form-control   search" type="search" placeholder="Search" aria-label="Search">
                <br>
        </div>
        
        
    </div>
    
</section>
