button {
    background-color: #BC9F3D;
     color: white;
     padding: 15px 25px;
     border-radius: 5px;
     border:none;
     font-size: 15px;
     outline:none;
     cursor:pointer;
   
 }
 h2{
    font-size: 40px;
    text-align:center;
    color:#BC9F3D;
    
}
.search{
    border: 1px ,solid;
    border-radius: 15px;
   
    align-items: center;
  }
  input{ 
    border: 1px solid #b3b3b3;
  border-radius: 8px;
  width: 94.5%;
  
   }