#p1{
    font-family: Calisto MT; 
    font-style:oblique;
    font-size: 36px;
    text-align:center;
    color:#BC9F3D;
    
  
}
#p2{
    font-family: Calisto MT; 
    font-style:oblique;
    font-size:26px;
    text-align:center;
    color: #707070;;
  
}
.menu__container{
justify-content: center;
  }
  
.menu__content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FB;
    border-radius: .3rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
   }
  
.menu__img{
    width: 120px;
    align-self: center;
  
  }
  
.menu__name, .menu__preci{
    font-weight: 600;
    color: #707070;
    font-family: Calisto MT;
    font-size: 20px;
    text-align: center;
    
  }
  
 
  
  .menu__detail{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    font-family: Calisto MT;
    color: #a3a3a3;
  }
  
  #menu__button{
  border-radius: 5px;
  float: right;
  width: 25px;
  }
  
  button{
        background-color: #BC9F3D;
        color:white;
        size:90px;
        margin-bottom:5rem;
        font-weight: 400;
       
    }
  