img{
    width:90px;
    height:70px;
}
#i2{
    width:40px;
    height:30px;
}
h1{
    font-size: 10px;
}
form{
    border-radius: 0;
    background-color: hsl(220, 27%, 98%);
    padding: 60px;
    margin: 0 auto; 
    width:400px;
}
button {
    background-color: #BC9F3D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-bottom:right;
 }