<div class="container">
    <div class="row">
        <div class="col-10">
            <a href="#" class="nav__logo"><img  src="./assets/logo.png"></a>
        </div>
        <div class="col-2">
            <a href="#" class="nav__logo"><h1>Return</h1><img  id="i2" src="./assets/return.PNG"></a>
            
        </div>

    </div>
    <div class="row">
        <div class="col-md-12"><br><br><br><br>
        <form method="POST">
            <label>num carte ViSA :</label>
            <input type="text" pattern="[0-9]{12}" required><br><br><br><br>
            <label>code du carte :</label>
            <input type="text" pattern="[0-9]{6}" required><br><br>
            <button type="submit" value="valider">valider</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" value="annuler">annuler</button>
        </form>
    </div>
    </div>
</div>
